$background-grey: #f3f3f3;

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.3rem;
  background-color: $background-grey;
}

input, label, select, button, textarea {
	margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	// background:none;
	line-height:1;

	/* Browsers have different default form fonts */
	font-size:13px;
	font-family:Arial;
}
input,textarea{
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}

.form-containr {
  text-align: center;
}

.form-containr form input {
  font-family: Times, "Times New Roman", Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  // border: 1px ridge #f1532c;
  // border-radius: 5px;
  width: 400px;
  height: 38px;
  font-size: 14px;
  padding-left: 10px;
  // text-indent: 20px;
}
.form-containr form > div> input:focus {
  outline-color: white !important;
  background-color: #fff;
  // border: 1px solid #ff5722;
  border: 0px;
}

.form-containr form > div> input:hover {
  background-color: #fff;
  // border: 1px solid #ff5722;
  // color: #ff5722;
}

form button[type=submit] {
  font-family: Times, "Times New Roman", Helvetica, Arial, sans-serif;
  margin-left: 20px;
  background: #ff5722;
  border: 2px solid #ff5722;
  color: #fff;
  // font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 0.1s;
  height: 38px;
  width: 80px;
  letter-spacing: 2px;
}

form button[type=submit]:focus {
  outline: 0 !important;
}

form button[type=submit]:hover {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ff5722;
  color: #ff5722;
}

.form-containr form > div div {
  font-family: Times, "Times New Roman", Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  font-weight: 500;
}

.client-errors {
  font-family: Times, "Times New Roman", Helvetica, Arial, sans-serif;
  margin-left: -80px;
  color: red;
}
